################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeetCodeSolutions/.vs/LeetCodeSolutions/v17
/LeetCodeSolutions/EasyLC/obj/Debug
/LeetCodeSolutions/.vs/LeetCodeSolutions/FileContentIndex
/LeetCodeSolutions/EasyLC/bin/Debug
/LeetCodeSolutions/MediumLC/obj/Debug
